@charset "utf-8";
* {margin:0;padding:0;}
ul,ol,li {list-style:none;}
a,u{text-decoration: none;}
i,em {font-style: normal;}
b,strong {font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}

#logo,#nav,#banner,#news,#case,#links{width:1000px;margin:0 auto;}
#logo {height:100px;}
#logo h1 {
    width:189px;height:82px;float:left;padding:18px 0 0 38px;
}
#logo form {width:247px ;height:61px; float:right;padding-top:39px ;}
.txt {
    width:181px;
    height:26px;
    border:1px solid #e5e5e5;
    background:#f1f1f1;
    color:#858585;
    padding-left:14px;
    float:left;
    border-right: 0;
}
.btn {
    width:30px;
    height:28px;
    border:1px solid #e5e5e5;
    background:#f1f1f1 url("../images/fdj_03.jpg") no-repeat center;
    float:left;
    border-left: 0;
}

#nav {height:58px;background: #313131;}
#nav li {
    float:left;
    text-align: center;
    width:119px;
    height:58px;
    border-right:1px solid #4b4b4b;
    line-height: 58px;
    font-size: 12px;
}
#nav li a {color:#fff;}
#nav .mar {margin-left: 27px;}
#nav .border0 {border:0;}

#banner {height:465px;}

#news {height:269px;}
#news .news-l {
    width:500px;
    height:269px;
    float:left;
}
.news-l h2{
    font-size: 18px;
    line-height: 18px;
    padding: 36px 0 0 22px;
}
.news-list{padding-left:21px;margin-top: 23px;}
.news-list li{
    width:438px;
    height:24px;
    line-height:24px ;
    font-size: 12px;
    padding-left: 13px;
    background: url(../images/dian_03.jpg) no-repeat left center;
}
.news-list li a {
    color:#585858;
    float: left;
}
.news-list li span {
    color:#a4a4a4;
    float: right;
}
.news-c{width:240px;height:269px;float:left;}
.news-r {
    width:260px;
    height:269px;
    float:left;
   
}
.news-r h2{
    font-size:18px;
    line-height: 18px;
    padding:36px 0 0 25px;
}
.img-box{
    height:130px;
    padding-left:25px;
    margin:11px 0 16px;
}
.news-r a{padding-left:25px;}

#case {height:276px;}
#case h2{font-size: 18px;line-height: 18px;padding-left: 22px;}
.case-show{height:220px;margin-top: 18px;}
.case-show dl{
    width:210px;  
    float:left;
    margin:0 20px;
}
.case-show dl dt{height:136px;}
.case-show dl dd{font-size: 12px;line-height: 24px;margin-top: 13px;}

#links{height:250px;}
.links-title{
    border-bottom:1px solid #BBB8B8;
    font-size: 16px;
    line-height: 16px;
    padding:31px 0 11px 12px;
    color:#646464;
}
.links-l{
    width:452px;
    height: 250px;
   
    margin-left: 20px;
    float: left;
}
.links-c{
    width:152px;
    height:250px;
   
    float: left;
    margin:0 50px;
}
.links-r{
    width:256px;
    height:250px;
    float: left;
   
}
